<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ cv.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://public.codepenassets.com/css/reset-2.0.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="resume-wrapper">
        <section class="profile section-padding">
            <div class="container">

                <div class="name-wrapper">
                    <h1>{{ cv.name}}</h1><!-- YOUR NAME AND LAST NAME  -->
                </div>

                <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
                    <p><span class="bold"></span>{{ cv.self_intro }}</p>
                </div>

                <div class="contact-info clearfix">
                    <ul class="list-titles">
                        <li>Mobil</li>
                        <li>Mail</li>
                        <li>Web</li>
                        <li>Home</li>
                        <li>Linkedin</li>
                    </ul>
                    <ul class="list-content ">
                        <li>{{ cv.mobile}}</li>
                        <li>{{ cv.email }}</li>
                        <li><a href="{{ cv.web }}">{{ cv.web }}</a></li>
                        <li>{{ cv.city}} {{ cv.country}}</li>
                        <li><a href="{{ cv.linkedin }}">{{ cv.linkedin }}</a></li> 
                    </ul>
                </div>

            </div>
        </section>

        <section class="section-padding-right">
            <div class="tabs">
                <div class="tab active-tab" onclick="showTab(0)">About Me</div>
                <div class="tab" onclick="showTab(1)">Skills</div>
                <div class="tab" onclick="showTab(2)">Showcases</div>
            </div>
         </section>


        <section class="experience section-padding tab-content active-content">
            <div class="container">
                <h3 class="experience-title">Summary</h3>
                <div class="experience-wrapper">
                    <div class="summary-line-wrapper clearfix">
                        {% for line in cv.summary_lines %}
                        <div class="summary-line-text">{{ line }}</div>
                        {% endfor %}
                    </div>
                </div>
                 
                <h3 class="experience-title">Certificates</h3>
                <div class="experience-wrapper">
                    {% for cert in cv.certificates %}
                        <div class="cert-date-wrapper clearfix">
                            <div class="experience-title time">{{ cert.start_date }}</div>
                        </div>
                        <div class="cert-title-wrapper clearfix">
                            <div class="experience-title">{{ cert.name }}<a href="{{ cert.link }}">  &#8594; Certificate</a></div>
                        </div>
                    {% endfor %}
                </div>

               
                <h3 class="experience-title">Educations</h3>
                <div class="experience-wrapper">
                    {% for edu in cv.educations %}
                        <div class="edu-item-wrapper clearfix">
                            <div class="experience-title time">{{ edu.duration }}</div>
                        </div>
                        <div class="edu-item-wrapper clearfix">
                            <div class="experience-title">{{ edu.degree_and_major }}</div>
                        </div>
                        <div class="edu-item-wrapper clearfix">
                            <div class="experience-title">{{ edu.school }}</div>
                        </div>
                      
                    {% endfor %}
                </div>

                
                <h3 class="experience-title">Languages</h3>

                <div class="experience-wrapper">
                    {% for lang in cv.languages %}
                        <div class="cert-date-wrapper clearfix">
                            <div class="experience-title time">{{ lang.name }}</div>
                        </div>
                        <div class="cert-title-wrapper clearfix">
                            <div class="experience-title">{{ lang.level }}</div>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="experience-title">Experience</h3>

                <div class="experience-wrapper">
                    {% for exp in cv.experiences %}
                        <div class="company-wrapper clearfix">
                            <div class="experience-title">{{ exp.company }}</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
                            <div class="time">{{ exp.period }}</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
                        </div>

                        <div class="job-wrapper clearfix">
                            <div class="experience-title">{{ exp.title }}</div> <!-- JOB TITLE  -->
                            <div class="company-description">
                                <p>{{ exp.description }}</p> <!-- JOB DESCRIPTION  -->
                            </div>
                        </div>
                    {% endfor %}
                </div><!--Skill experience-->

            </div>
        </section>

        <section class="experience section-padding tab-content">
             <div class="container">
                <h3 class="experience-title">Skills</h3> <!-- YOUR SET OF SKILLS  -->
                <div class="experience-wrapper">
                    <ul>
                        {% for skill in cv.skills %}
                            <li>
                                <div class="cert-date-wrapper  clearfix">
                                    <div class="experience-title time">{{ skill.name }}</div>
                                </div>
                                <div class="cert-title-wrapper  clearfix">
                                    <div class="experience-title">{{ skill.level }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
             </div>
        </section>

         <section class="experience section-padding tab-content">
            Coming Soon!
        </section>

        <div class="clearfix"></div>
    </div>
    <!-- partial -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
    <script src="./script.js"></script>

<script>
  function showTab(index) {
    const tabs = document.querySelectorAll('.tab');
    const contents = document.querySelectorAll('.tab-content');

    tabs.forEach((tab, i) => {
      tab.classList.toggle('active-tab', i === index);
      contents[i].classList.toggle('active-content', i === index);
    });
  }
</script>
</body>

</html>