<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ cv.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://public.codepenassets.com/css/reset-2.0.min.css">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="resume-wrapper">
        <section class="profile section-padding">
            <div class="container">
                <div class="picture-resume-wrapper">

                </div>
                <div class="name-wrapper">
                    <h1>{{ cv.name}}</h1><!-- YOUR NAME AND LAST NAME  -->
                </div>
                <div class="clearfix"></div>
                <div class="contact-info clearfix">
                    <ul class="list-titles">
                        <li>Call</li>
                        <li>Mail</li>
                        <li>Web</li>
                        <li>Home</li>
                    </ul>
                    <ul class="list-content ">
                        <li>{{ cv.mobile}}</li>
                        <li>{{ cv.email }}</li>
                        <li>{{ cv.web}}</li>
                        <li>{{ cv.city}} {{ cv.country}}</li>
                    </ul>
                </div>
                <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
                    <p><span class="bold"></span>{{ cv.self_intro }}</p>
                </div>
                <div class="contact-social clearfix">
                    <ul class="list-titles">
                        <!-- <li>Twitter</li> -->
                        <li>Linkedin</li>
                        <!-- <li>Codepen</li> -->
                    </ul>
                    <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
                        <!-- <li><a href="">@janderson</a></li> YOUR TWITTER USER  -->
                        <li><a href="">{{ cv.linkedin }}</a></li> <!-- YOUR Linkedin USER  -->
                       <!--  <li><a href="">janderson</a></li>  --><!-- YOUR BEHANCE USER  -->
                    </ul>
                </div>
            </div>
        </section>

        
        <section class="experience section-padding">
            <div class="container">
                <h3 class="experience-title">Summary</h3>
                <p>
                   {{ cv.summary }}
                </p>

                <h3 class="experience-title">Certificates</h3>
                <div class="experience-wrapper">
                    {% for cert in cv.certificates %}
                        <div class="company-wrapper clearfix">
                            <div class="experience-title time">{{ cert.start_date }}</div>
                        </div>
                        <div class="job-wrapper clearfix">
                            <div class="experience-title">{{ cert.name }}</div>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="experience-title">Educations</h3>
                <div class="experience-wrapper">
                    {% for edu in cv.educations %}
                        <div class="edu-item-wrapper clearfix">
                            <div class="experience-title time">{{ edu.duration }}</div>
                        </div>
                        <div class="edu-item-wrapper clearfix">
                            <div class="experience-title">{{ edu.degree_and_major }}</div>
                        </div>
                        <div class="edu-item-wrapper clearfix">
                            <div class="experience-title">{{ edu.school }}</div>
                        </div>
                        <div class="jedu-item-wrapper clearfix">
                            <div class="experience-title">{{ edu.location }}</div>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="experience-title">Languages</h3>
                <div class="experience-wrapper">
                    {% for lang in cv.languages %}
                        <div class="company-wrapper clearfix">
                            <div class="experience-title time">{{ lang.name }}</div>
                        </div>
                        <div class="job-wrapper clearfix">
                            <div class="experience-title">{{ lang.level }}</div>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="experience-title">Experience</h3>

                <div class="experience-wrapper">
                    {% for exp in cv.experiences %}
                        <div class="company-wrapper clearfix">
                            <div class="experience-title">Company name</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
                            <div class="time">{{ exp.company }}</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
                        </div>

                        <div class="job-wrapper clearfix">
                            <div class="experience-title">{{ exp.title }}</div> <!-- JOB TITLE  -->
                            <div class="company-description">
                                <p>{{ exp.description }}</p> <!-- JOB DESCRIPTION  -->
                            </div>
                        </div>
                    {% endfor %}
                </div><!--Skill experience-->

                <div class="section-wrapper clearfix">
                    <h3 class="section-title">Skills</h3> <!-- YOUR SET OF SKILLS  -->
                    <ul>
                        {% for skill in cv.skills %}
                            <li>
                                <div class="company-wrapper clearfix">
                                    <div class="experience-title time">{{ skill.name }}</div>
                                </div>
                                <div class="job-wrapper clearfix">
                                    <div class="experience-title">{{ skill.level }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="section-wrapper clearfix">
                    <h3 class="section-title">Hobbies</h3> <!-- DESCRIPTION OF YOUR HOBBIES -->
                    <p>{{ cv.hobbies }}</p>
                </div>

            </div>
        </section>

        <div class="clearfix"></div>
    </div>
    <!-- partial -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
    <script src="./script.js"></script>

</body>

</html>